<h1 class="small-2 small-centered columns">Inter-I</h1>

<div class="small-5 small-centered columns">
  <h4 class="spacer">Search to find relations between Ideas.</h4>

  <div class="search-space row collapse">
    <%= form_tag show_relations_path(:idea), method: :get do %>
    <div class="small-9 columns">
      <%= text_field_tag :idea%>
    </div>
    <div class="small-3 columns">
      <span><%= submit_tag("Explore Ideas") %></span>
    </div>
    <% end %>
  </div>
</div>
