/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.search-space {
  margin-top: 45px;
  margin-bottom: 15px;
}

.show-relations {
  margin-top: 60px;
}

/*.idea-spacing {
  margin-top: 15px;
  margin-left: 245px;
}*/

.spacer {
  margin-top: 165px;
  margin-left: 70px;
}

.side-nav-div {
  max-width: 15%;
  margin-top: 95px;
  margin-left: 30px;
  float: left;
}

.tab-1 {
  padding-left: 15px;
}

.tab-2 {
  padding-left: 30px;
}

.tab-3 {
  padding-left: 45px;
}
